<div id="contact-holder">
    <div id="contact">
        <div class="contact-title">Say Hello!</div>
        <div id="people">
        	<div class="contact-item"><img class="contact-image" src="app/assets/contacts/1.jpg"><div class="contact-details">Santro Xing<br><a class="linked-in">In</a></div></div>
        	<div class="contact-item"><img class="contact-image" src="app/assets/contacts/2.jpg"><div class="contact-details">Tata Indica<br><a class="linked-in">In</a></div></div>
        	<div class="contact-item"><img class="contact-image" src="app/assets/contacts/3.jpg"><div class="contact-details">Opel Corsa<br><a class="linked-in">In</a></div></div>
        </div>
        <div id="queries">
            <form action="">
                <input class="query-input" type="text" placeholder="Email"/>
                <input class="query-input" type="text" placeholder="Query"/>
                <input class="query-submit-button" type="button" value="Ask The Team"/>
            </form>
        </div>
    </div>
</div>
<div id="footer">
    @copyright recoto.me
</div>
