html{
	height:100%;
}
body{
	font-size:24px;
	font-weight: 400;
	color:#22353c;
	line-height: 1.6;
	margin:0px;
	height:100%;
	min-width:500px;
	width:100%;
	padding:0px;
	font-family: "Raleway","Calibri";
	-webkit-text-size-adjust: none;
}
a{
	text-decoration: none;
	color:inherit;
	font-weight: 23;
}
a:hover{
	cursor:pointer;
}
hr{
	color:#aaa;
	height:2px;
	background-color: #ddd;
	width:30%;
	border:0;
}
div{
	box-sizing: border-box;
}
input{
	box-sizing: border-box;
	font-family: "Raleway","Calibri";
	/*margin:0px;*/
	padding:9x;
	font-size:18px;
}
ul{
	list-style-type: none;
	padding-left:0px;
	margin-left:0px;
}
